<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User</title>
</head>
<body>
    <div>
        {{#with user}}
            <p>Name: {{this.firstName}} {{this.lastName}}</p>
            <p>Age: {{this.age}}</p>
            <p>City: {{this.city}}</p>
            <p>Email: {{this.email}}</p>

            <form action="/users/:id?method=delete" method="post">
                <input type="submit" value="Delete">
            </form>
        {{/with}}
    </div>
</body>
</html>